<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h1{
            text-align: center;
        }
        li {
            margin-top: 20px;
            margin-bottom: 20px;
        }

        img {
            display: inline-block; 
            width: 200px; 
            height: auto;
            object-fit: cover;
            vertical-align: middle; 
        }

        span {
            display: inline-block; 
            vertical-align: middle; 
            margin-left: 30px; 
        }
    </style>
</head>

<body style="background-color: blanchedalmond;">
    <h1 >Leonardo da Vinci works</h1>
    <hr>
    
    <ul>
        <li>1. <span>"Мона Ліза" (1503-1506, можливо, завершено 1517)</span>
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ec/Mona_Lisa%2C_by_Leonardo_da_Vinci%2C_from_C2RMF_retouched.jpg/640px-Mona_Lisa%2C_by_Leonardo_da_Vinci%2C_from_C2RMF_retouched.jpg" />
        </li>
        <li><span>"Тайна вечеря" (1495-1498)</span>
            <img src="https://ideyka.com.ua/files/resized/products/8423.1800x1800w.jpg" />
        </li>
        <li><span>"Дама з горностаєм" (близько 1490)</span>
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f9/Leonardo_da_Vinci_046.jpg/800px-Leonardo_da_Vinci_046.jpg" />
        </li>
        <li><span>"Благовіщення" (близько 1472)</span>
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1b/ANGELICO%2C_Fra_Annunciation%2C_1437-46_%282236990916%29.jpg/800px-ANGELICO%2C_Fra_Annunciation%2C_1437-46_%282236990916%29.jpg" />
        </li>
    </ul>
    <hr>
</body>

</html>
