<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body style="background-color: bisque;">
    <h1 style="text-align:center">Leonardo da Vinci</h1>
    <hr>
    <p><b>Леона́рдо да Ві́нчі</b> (італ. Leonardo da Vinci; 15 квітня 1452, селище Анк'яно в Тоскані поблизу Флоренції — 2 травня 1519, замок Кло-Люсе, Амбуаз) — італійський математик, художник (живописець, скульптор, архітектор), науковець (анатом, натураліст), винахідник, письменник, музикант, один з найбільших представників мистецтва Високого Відродження, яскравий приклад «універсальної людини».</p>

    <ul>
        <li>Дата і місце народження: Леонардо народився 15 квітня 1452 року в місті Вінчі (Італія).</li>
        <li>Мистецька спадщина: Леонардо був видатним художником. Його найвідоміші твори — це «Мона Ліза», «Тайна вечеря», «Вітрувіанська людина».</li>
        <li>Смерть: Леонардо помер 2 травня 1519 року в Амбуазі, Франція.</li>
        <li>Внесок в науку: Його підхід до дослідження природних явищ став важливою частиною наукової революції, хоча його роботи не були опубліковані при його житті.</li>
    </ul>
    <hr>
    <img  style="margin-left: 300px;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTZUue02eV8V4_AZ5KvmPcHBdXV1itaiNWjG-UiT1iidfH-jVWnhn3BpS9fgy7KuAiMnoQ&usqp=CAU" />
</body>

</html>